.card-wrapper {
  // width: 300px; /* Задайте фиксированную ширину карточки */
  width: 30rem;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px; /* Добавляем немного отступа между карточками */
}

.card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    width: 100%;
    text-align: center;
    overflow: hidden;
  }
}
