.disabled-button {
  background-color: #b4b4b4;
  border: none;
  border-radius: 25px;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  z-index: 9999;
}

.button {
  background-color: #f4e041;
  border: none;
  border-radius: 25px;
  //   padding: 0.75rem 1.5rem;
  cursor: pointer;
  z-index: 9999;
}
